@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    font-weight: bolder;
  }
}

@layer base {
  strong {
    font-weight: bolder;
  }
}
